<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rossmc_partytown>
            <general>
                <enabled>0</enabled>
                <debug_enabled>0</debug_enabled>
                <unregister_sw>0</unregister_sw>
            </general>
        </rossmc_partytown>
    </default>
</config>
